{% extends 'Front/Layout/layoutWithoutPanel.html.twig' %}

{% set breadcrumbDisabled = true %}

{% block breadcrumb %}{% endblock %}

{% block meta_description %}{% endblock %}

{% block title %}{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block main_content %}
    <section id="homepage">
        <h1>Homepage</h1>
    </section>
{% endblock %}
