{% extends 'Front/Layout/base.html.twig' %}

{% block html_body %}
    <header class="web__header"></header>

    <main class="web__in">
        {% block content %}{% endblock %}
    </main>

    <footer class="web__footer"></footer>

{% endblock %}
